<!--材料のフォーム-->
<div class ="nested-fields">
  <%= f.hidden_field :_destroy %>
  <div class ="ingredient_input">

<!--データリストでmaterialテーブルからのフォーム-->
    <%= f.text_field :material_id, id: "js-text-field", list: "arealists" %>
      <datalist id="arealists">
        <% @materials.each do |material| %>
          <option value="<%= material.name %>" data-id="<%= material.id %>"></option>
        <% end %>
      </datalist>
<!--分量の入力フォーム-->
    <%= f.text_field :amount, placeholder:"分量", class:"ingredient_amount" %>

    <%= link_to '#', class:"remove-field-btn" do %>
      <%= image_tag 'delete', class:"remove_fields" %>
    <% end %>
  </div>
</div>