<!--材料のフォーム-->
<div class ="nested-fields">
  <%= f.hidden_field :_destroy %>
  <div class ="ingredient_input">

<!--データリストでmaterialテーブルからのフォーム-->
    <%= f.text_field :name, id: "js-text-field", list: "arealists" %>
      <datalist id="arealists">
        <%= options_for_select(@materials.map{ |material| [material.name] }) %>
      </datalist>
<!--分量の入力フォーム-->
    <%= f.text_field :amount, placeholder:"分量", class:"ingredient_amount" %>
    <%= f.select :unit, Ingredient.units.keys.to_a, {} %>

    <%= link_to '#', class:"remove-field-btn" do %>
      <%= image_tag 'delete', class:"remove_fields" %>
    <% end %>
  </div>
</div>