<%= render 'shared/flash' %>

<div class ="container my-4">
  <div class ="row mx-3 my-3">
    <h2><%= @title %></h2>
  </div>
  <%= form_with model: @recipe, url:recipe_path, method: :patch do |f| %>
    <section class ="row border-top border-bottom border-warning border-5">
      <div class ="col-5">
        <h4 class ="recipe-form">写真
          <%= f.label :image, :movie do %>
            <i class="fas fa-camera"></i>
            <%= f.file_field :image, style: 'display:none;' %>
            <%= f.file_field :movie, style: 'display:none;' %>
          <% end %>
        </h4>
        <div class="photo-area">
          <%= image_tag "no_image"%>
        </div>
      </div>
      <div class ="col-6">
        <div class ="form-group row">
          <%= f.label :"料理名", class:"col-4" %>
          <%= f.text_field :cuisine_name, class:"form-control col-6 border-top-0 border-left-0 border-right-0 border-warning"%>
        </div>
        <div class ="form-group row">
          <%= f.label :"出来上がり量", class:"col-4"  %>
          <%= f.text_field :quantity, placeholder:"人前", class:"quantity form-control col-6 border-top-0 border-left-0 border-right-0 border-warning" %>
        </div>
  <!--材料入力フォーム・部分テンプ-->
        <div class ="form-group row">
          <div class ="col-4">材料</div>
        </div>
        <section class ="ingredient">
          <%= f.fields_for :ingredients do |ingredient| %>
            <%= render "ingredient_fields", f: ingredient %>
          <% end %>
          <%= link_to_add_fields "材料の追加", f, :ingredients%>
        </section>

  <!--作り方入力フォーム・部分テンプ-->
        <div  class ="form-group row">
          <div class ="col-4">作り方</div>
        </div>
        <section class ="step">
          <div class ="field">
            <%= f.fields_for :steps do |step| %>
              <%= render "step_fields", f: step %>
            <% end %>
            <%= link_to_add_fields "作り方の追加", f, :steps %>
          </div>
        </section>

        <div class ="form-group row">
          <%= f.label :"ジャンル", class:"col-4" %>
          <%= f.collection_select :genre_id, @genres, :id, :name, prompt: "選択してください", class:"form-control col-6" %>
        </div>
        <div class ="action row">
          <%= f.submit "編集する", class:"offset-4 col-sm-4 btn btn-lg btn-success" %>
        </div>
      </div>
    </section>
  <% end %>

  <div clss ="row">
    <div class="ol-sm-7 my-4">
      <%= link_to '編集をやめる', recipe_path(@recipe), class:"btn btn-lg btn-primary ml-5"%>
      <%= link_to 'レシピを削除', recipe_path, method: :delete, data: { confirm: "削除してよろしいですか？" }, class:"btn btn-lg btn-danger ml-5"%>
    </div>
  </div>
</div>