<h1>Search Index</h1>

<div>
  <% if @search.present? %>
    「<%= @search %>」の検索結果

    <%= render 'shared/recipe_list' %>

  <% elsif @search_genre.present? %>
    「<%= @search_genre %>」の検索結果

    <%= render 'shared/recipe_genre' %>

  <% else %>
    "該当する検索結果はありません。"
  <% end %>
</div>



  <%= paginate @recipes %>

  <div class ="cancel">
    <%= link_to 'レシピ一覧に戻る', recipes_path %>
  </div>
