<h1><%= @title %></h1>

<div class ="detail">
  <!--ユーザーのみ編集ボタン-->
  <% if user_signed_in? && @recipe.user == current_user %>
    <%= link_to "編集する", edit_recipe_path, class:"btn recipe-edit-btn" %>
  <% end %>

  <div>
    <!--画像か動画が添付されている時-->
    <% if @recipe.image.attached? %>
      <p><%= image_tag @recipe.image, size:'400x300' %></p>
    <% end %>

    <p>料理名：<%= @recipe.cuisine_name %></p>
    <p>出来上がり量：<%= @recipe.quantity %></p>
    <% @recipe.foodstuffs.each do |foodstuff| %>
      <p>材料：<%= foodstuff.name %><%= foodstuff.amount %></p>
    <% end %>
    <% @recipe.steps.each do |step| %>
      <p>作り方：<%= step.direction %></p>
    <% end %>
    <p>メモ：<%= @recipe.memo %></p>
    <p>ジャンル：<%= @recipe.genres.name %></p>
  </div>

