<%= render 'shared/flash' %>

<div class ="container my-4">
  <div class ="row mx-3 mt-3">
    <h2 class ="font-weight-bold"><%= @title %></h2>
  </div>
  <div class ="row">
    <div class ="offset-sm-3 col-sm-3 mb-3">
      <% if current_user.own?(@recipe) %>
        <%= link_to "編集する", edit_recipe_path(@recipe), class:"btn btn-primary" %>
      <% else %>
        <%= render 'bookmark_button', recipe: @recipe %>
      <% end %>
    </div>
  </div>
  <div class ="row border-top border-bottom border-warning border-5">
  <!--ユーザーのみ編集ボタン-->
    <div class ="col-sm-5">
      <!--画像か動画が添付されている時-->
      <div>
        <% if @recipe.image.attached? %>
          <div><%= image_tag @recipe.get_image(200,200) %></div>
        <% end %>
      </div>
    </div>
    <table class ="table table-borderless col-sm-6">
      <tbody class ="h5">
        <tr>
          <td class ="col-sm-3">料理名：</td>
          <td class ="col-sm-7"><%= @recipe.cuisine_name %></td>
        </tr>
        <tr>
          <td>出来上がり量：</td>
          <td><%= @recipe.quantity %></td>
        </tr>
        <tr>
          <td>材料：</td>
          <% @recipe.ingredients.each do |ingredient| %>
          <tr>
            <th></th>
            <td><%= ingredient.name %><%= ingredient.amount %><%= ingredient.unit %></td>
          </tr>
          <% end %>
        </tr>
        <tr>
          <td>作り方：</td>
          <% @recipe.steps.each do |step| %>
          <tr>
            <th></th>
            <td><%= step.direction %></td>
          </tr>
          <% end %>
        </tr>
        <tr>
          <td>ジャンル：</td>
          <td><%= @recipe.genre.name %></td>
        </tr>
        <!--boolean型はtrueなど必要なし-->
        <tr>
          <% if @recipe.user.status %>
            <td>レシピ作成者：</td>
            <td><%= @recipe.user.nickname %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
  <!--栄養素の計算表示-->
  <div class ="row">
    <h5>
      <table class ="table table-borderless">
        <tr>
          <td><h4 class ="bg-warning">栄養成分表</h4></td>
        </tr>
        <tr>
          <td>カロリー：</td><td><%= @calorie %>kcal</td>
        </tr>
        <tr>
          <td>たんぱく質：</td><td><%= @protein %>g</td>
        </tr>
        <tr>
          <td>脂質：</td><td><%= @lipid %>g</td>
        </tr>
        <tr>
          <td>炭水化物：</td><td><%= @carbohydrate %>g</td>
        </tr>
        <tr>
          <td>塩分：</td><td><%= @salt %>g</td>
        </tr>
      </table>
    </h5>
  </div>
</div>

