<div class="container my-5">
  <div class="row offset-1">
    <h1><%= @nickname %></h1>
  </div>
  <div class="row my-4">
    <h4 class="font-weight-bold ml-4 mr-5">登録情報</h4>
    <% if @user.email == 'guest@example.com' %>
    <% else %>
      <%= link_to "編集する", edit_user_path(@user), class:"btn btn-success text-white ml-5" %>
    <% end %>
  </div>

  <table class="table table-bordered col-8">
    <tr>
      <td class="col-2">ニックネーム</td>
      <td class="col-6">
        <%= @user.nickname %>
      </td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <td>登録レシピ</td>
      <td><%= @user.recipes.count %>件</td>
    </tr>
    <tr>
      <td>公開ステータス</td>
      <td><%= @user.public_status %></td>
    </tr>
  </table>
</div>
