<div class="container my-5">
  <div class="row ml-5">
    <h2>単位一覧・追加</h2>
  </div>

  <%= form_with model: @unit, url: units_path, method: :post do |f| %>
    <div class="row mt-5">
      <div class="col-6">
        <div class="form-group row">
          <%= f.label :"食材名", class:"col-2" %>
          <%#= f.select :material_id, options_for_select(Material.pluck(:name, :id)), class:"form-control col-sm-5" %>
          <%= f.text_field :material_id, id: "js-text-field", list: "arealists", class:"form-control col-5" %>
          <datalist id="arealists">
            <%= options_for_select(Material.pluck(:name, :id)) %>
          </datalist>
        </div>

        <div class="form-group row">
          <%= f.label :"単位名", class: "col-2" %>
          <%= f.select :unit, @units.units.keys.to_a, {}, class:"form-control col-5" %>
        </div>

        <div class="from-group row">
          <%= f.label :"換算比", class: "col-2" %>
          <%= f.text_field :g, class: "form-control col-5" %><h4>g</h4>
        </div>
        <div class="action my-4">
          <%= f.submit "新規登録", class:"btn btn-success offset-3" %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row mt-5">
    <div class="col-6">
      <table class="table table-bordered text-center">
        <thead>
          <tr class="table-secondary">
            <th><h5>食材名</h5></th>
            <th><h5>単位名</h5></th>
            <th><h5>g</h5></th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @units.each do |unit| %>
            <tr>
              <td><%= unit.material.name %></td>
              <td><%= unit.unit %></td>
              <td><%= unit.g %>g</td>
              <td><%= link_to "削除する", unit_path(unit.id), method: :delete, class: "btn btn-success"%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= paginate @units %>
</div>


